/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# reset css
# blog css
# comment css
# Components
# single post item
# post-pagination
# mailchimp form
# Elmentor tweaks
# techex case study
# 404 page css
# job
# job list css
# login form css
*/


/* PRELOADER CSS  */

.techex-preloader-wrap {
    position: fixed;
    z-index: 1222;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techex-preloader {
    display: inline-block;
    position: relative;
    width: 74px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.techex-preloader div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #086AD7;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.techex-preloader div:nth-child(1) {
    left: 8px;
    animation: techex-preloader1 0.6s infinite;
}

.techex-preloader div:nth-child(2) {
    left: 8px;
    animation: techex-preloader2 0.6s infinite;
}

.techex-preloader div:nth-child(3) {
    left: 32px;
    animation: techex-preloader2 0.6s infinite;
}

.techex-preloader div:nth-child(4) {
    left: 56px;
    animation: techex-preloader3 0.6s infinite;
}

@keyframes techex-preloader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes techex-preloader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes techex-preloader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


/* preloader end  */

.scroll-to-top {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #086AD7;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: none;
    border-radius: 50%;
    transition: all 0.4s ease;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
}

.scroll-to-top i {
    color: #ffffff;
    font-size: 18px;
    line-height: 45px;
}

.scroll-to-top:hover {
    background-color: #000000;
}

.scroll-to-top:hover i {
    color: #fff;
}

body {
    font-family: var(--body-font);
    font-weight: 400;
    overflow-x: hidden;
}

:focus {
    outline: none;
}

.page .content-block .container {
    max-width: 1140px;
}


/* blog css */

footer.footer-section {
    position: relative;
    z-index: 5;
}

header {
    position: relative;
    z-index: 5;
}

.content-block .entry-title {
    /* Style for "How To Blo" */
    font-size: 48px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-right: 15px;
}

.post-details-page a {
    color: var(--accent-color-2);
}

.nav-links .nav-subtitle {
    color: var(--accent-color-2);
    display: block;
    margin-bottom: 16px;
    font-weight: 400;
}

.nav-links .nav-title {
    font-size: 17px;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-links .nav-previous .nav-title {
    padding-left: 40px;
}

.nav-links .nav-next .nav-title {
    padding-right: 40px;
}

.nav-links a {
    text-decoration: none;
    position: relative;
}

.nav-links .nav-title svg {
    width: 33px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.nav-links .nav-previous .nav-title svg {
    margin-right: 15px;
    left: 0;
}

.nav-links .nav-next .nav-title svg {
    right: 0;
}

.nav-links .nav-previous {
    padding-right: 10px;
}

.nav-links .nav-next {
    padding-left: 10px;
}

.nav-links .nav-previous span.nav-subtitle {
    padding-left: 40px;
}

.nav-links .nav-next span.nav-subtitle {
    padding-right: 40px;
}

.entry-content blockquote a {
    text-decoration: underline;
}

.content-block .entry-header {
    margin-bottom: 50px;
}

.post-details-page .post-thumbnail img {
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.post-details-page .entry-content {
    padding-right: 50px;
    margin-bottom: 30px;
}

.entry-content:after {
    display: block;
    clear: both;
    content: "";
}

.entry-content p {
    margin-bottom: 20px;
    line-height: 32px;
    font-size: 17px !important;
    color: var(--text-color);
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    margin-bottom: 15px;
}

.entry-meta>span {
    padding-left: 10px;
    position: relative;
    margin-right: 10px;
}

.entry-meta>span:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
}

.entry-meta>span:first-child {
    padding-left: 0;
}

.entry-meta>span:first-child:after {
    display: contents;
}

.entry-meta a,
.entry-meta span {
    color: #6E727D;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 32px;
}

footer.entry-footer a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0;
    color: var(--text-color);
    background: #EAE9F2;
    border-radius: 0px;
    padding: 10px 13px 10px 14px;
}

.widget-title {
    /* Style for "Recent Pos" */
    /* Semi Bold / 20 */
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 25px;
    margin-left: 0px;
    padding-left: 40px;
}

.widget_rss .widget-title a {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 1.315;
    margin-bottom: 0;
}

.widget_rss ul li {
    border-bottom: 1px solid #eae9f2;
    margin-bottom: 17px !important;
    padding-bottom: 20px;
}

.widget_rss .rssSummary {
    margin: 12px 0;
    color: var(--text-color);
}

.widget_rss cite {
    font-weight: 500;
    color: var(--text-color);
}

.widget strong {
    color: var(--text-color);
}

.widget_rss span.rss-date {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    color: var(--text-color);
}

.widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget {
    margin-bottom: 30px;
}

.widget:last-child {
    margin-bottom: 0;
}

.widget_rss ul li:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.widget .post-date {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
}

.techex_recent_posts_Widget .post-item {
    border-bottom: 1px solid rgba(234, 233, 242, 0.102751);
    padding: 0px 0px 10px 0px;
}

.widget.techex_recent_posts_Widget .post-date {
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
}

.widget.techex_recent_posts_Widget .post-date:before {
    position: absolute;
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    left: 0;
}

.blog-sidebar-single-wrapper .wp-block-categories-list li {
    border-bottom: 0 !important;
    padding: 0px 0px 10px 0px;
    color: var(--white-bg);
}

.techex_recent_posts_Widget .post-item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.widget a:hover {
    color: var(--accent-color);
}

.right-sidebar .widget-area {
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
}

.widget h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0;
    color: var(--heading-color);
    margin-bottom: 30px;
    position: relative;
    padding-left: 45px;
}

.widget h2:before {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    height: 4px;
    width: 18px;
    border-radius: 5px;
    position: absolute;
    background-color: #086ad7;
}

.widget h2:after {
    left: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    background-color: #086ad7;
}

.widget.techex_recent_posts_Widget h2 {
    margin-bottom: 10px;
}

ul.wp-block-categories-list.wp-block-categories a {
    font-size: 14px;
    margin-bottom: 0;
}

.widget-area .nice-select {
    line-height: 35px;
}

.widget-area .nice-select .list {
    width: 100%;
}

.left-sidebar .widget-area {
    margin-right: 70px;
}

.textwidget img {
    margin: 5px 0;
}

.search-form input#search {
    height: 71px;
    width: 100%;
    padding: 0 25px 0 60px;
    color: var(--text-color);
    border: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
}

.search-form button[type=submit] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--accent-color-2);
    width: auto;
    cursor: pointer;
    padding: 0 24px;
    font-size: 19px;
}

.search-form {
    position: relative;
}

.search-form input#search {
    width: 100%;
}

.search-form button[type=submit] svg path {
    fill: var(--accent-color);
}

.widget .post-item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.widget .post-thumb a {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background-color: #dfdbdb;
}

.widget .post-thumb img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.widget .post-text {
    margin-bottom: 0;
}

.widget a,
.widget ul li a {
    color: var(--white-bg);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.widget .post-thumb {
    padding-right: 20px;
}

.widget ul li {
    font-size: 16px;
    color: var(--heading-color);
}

.widget a,
.widget ul li a {
    color: var(--heading-color);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    margin-bottom: 20px;
}

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date {
    display: block;
    color: var(--text-color);
    font-size: 14px;
    line-height: 26px;
}

.widget_recent_entries.widget ul li a {
    display: block;
}

.widget.widget_recent_entries ul li span.post-date {
    display: block;
    /* Style for "Jan 14, 20" */
    color: var(--ূাংূ-color);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5;
}

.comment-form-main-wrapper {
    margin-top: 40px;
}

li.recentcomments .comment-author-link {
    color: var(--white-bg);
}

.widget.widget_recent_entries ul li,
.widget.widget_recent_comments ul li {
    border-bottom: 1px solid rgba(234, 233, 242, 0.102751);
}

.widget.widget_recent_entries ul li:last-child,
.widget.widget_recent_comments ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

#wp-calendar #today a {
    color: var(--accent-color-2);
}

#wp-calendar #today {
    background-color: #EFF0F4;
}

#wp-calendar th {
    background-color: #EFF0F4;
}

#wp-calendar caption {
    caption-side: top;
    text-align: center;
    color: var(--white-bg);
    font-weight: 700;
    padding: 14px 0;
}

table#wp-calendar {
    margin-bottom: 0;
}

nav.wp-calendar-nav {
    margin-bottom: -41px;
    margin-top: 0;
}

div#calendar_wrap {
    display: flex;
    flex-direction: column-reverse;
}

span.wp-calendar-nav-next {
    float: right;
}

nav.wp-calendar-nav a {
    font-size: 15px;
    margin-bottom: 4px;
}

.widget table td.has-calendar-link {
    background-color: var(--accent-color-2);
}

.widget table td.has-calendar-link a {
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
}

.wp-calendar-table td,
.wp-calendar-table th {
    text-align: center;
    font-size: 14px;
}

.widget .widget {
    border: 0;
    padding: 0;
}

.widget {
    background: #fff;
    box-sizing: border-box;
    border-radius: 0;
    padding: 30px 30px 30px 30px;
    border: 2px solid #ededed;
}

table {
    width: 100%;
}

table thead tr:first-child,
table tbody tr:first-child {
    border-top: 1px solid #dcdcdc;
}

table thead tr,
table tbody tr {
    border-bottom: 1px solid #dcdcdc
}

table thead tr th,
table thead tr td,
table tbody tr th,
table tbody tr td {
    border-right: 1px solid #dcdcdc;
    padding: 10px;
    background: #fff;
}

.widget table td.has-calendar-link a {
    color: #fff;
}

table thead tr th:first-child,
table thead tr td:first-child,
table tbody tr th:first-child,
table tbody tr td:first-child {
    border-left: 1px solid #dcdcdc;
}

table tfoot tr td#prev,
table tfoot tr td#next {
    content: var(--accent-color-2);
    padding: 15px;
}

table tfoot tr td#prev a,
table tfoot tr td#next a {
    color: var(--accent-color-2);
}

table tfoot tr td#prev a:hover,
table tfoot tr td#next a:hover {
    color: var(--accent-color-2);
}

.widget .tagcloud a {
    padding: 7px 16px;
    margin-right: 6px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 15px !important;
    line-height: 1.6;
    border: 0.5px solid var( --text-color);
    border-radius: 3px;
    display: inline-block;
}

.widget .tagcloud a:hover {
    color: #fff;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.tags-links>strong,
.cat-links>strong {
    margin-right: 10px;
}

footer.entry-footer .cat-links strong {
    display: none;
}

.single footer.entry-footer {
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.single .entry-footer span.edit-link {
    min-width: 100%;
    text-align: right;
}

.cat-links>strong,
.tags-links strong {
    left: 0;
    top: 0;
    line-height: 40px;
}

.entry-footer span.cat-links,
.entry-footer .tags-links {
    position: relative;
    padding-left: 0;
    display: block;
    line-height: 48px;
}

.entry-footer span.cat-links {
    padding-bottom: 0;
    line-height: 40px;
    display: none;
}


/* .single .post {
    box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
    border-radius: 10px;
}
 */

.single-post-content-wrap {
    padding: 0px 0px 0px 0px;
}


/* comment css */

.comment-respond {
    border-radius: 0px;
    background: #F7F7FB;
    padding: 40px 40px 45px 40px;
    margin-top: 40px;
}

.comment-reply-title {
    /* Style for "Submit you" */
    color: var(--heading-color);
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
}

#commentform .logged-in-as {
    margin-bottom: 30px;
}

label {
    /* Style for "Your name" */
    font-family: var(--body-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#commentform textarea,
#commentform input:not([type=submit]):not([type=checkbox]) {
    border-radius: 0;
    border: none;
    background: #FFFFFF;
    width: 100%;
    transition: .3s;
    margin-bottom: 0;
    border-radius: 0px;
}

textarea#comment {
    height: 200px;
    padding: 30px;
    box-sizing: border-box;
}

.comment-list .children .children {
    padding-left: 0 !important;
}

.comment-respond input#submit {
    background-color: var(--accent-color);
    color: var(--white-color);
    padding: 5px 15px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: .3s;
    width: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--body-font);
    letter-spacing: 0;
    min-width: 260px;
    min-height: 60px;
}

input#submit:hover {
    opacity: .9;
}

#commentform input:not([type=submit]):not([type=checkbox]) {
    height: 70px;
    padding: 0 30px;
    color: var(--text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
}

#commentform input::placeholder {
    color: #666;
}

p.comment-form-author,
p.comment-form-email {
    display: block;
    width: 100%;
}

p.comment-form-author {
    padding-right: 0;
}

.comment-form-cookies-consent label {
    display: inline;
    margin-bottom: 0;
}

#commentform textarea:focus,
#commentform input:not([type=submit]):not([type=checkbox]):focus {
    border-color: var(--accent-color-2);
}

.comment-list,
.comment-list .children {
    list-style: none;
}

ol.comment-list {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.comment-list .comment,
ol.comment-list .trackback,
ol.comment-list .pingback {
    position: relative;
    margin-top: 30px;
    background-color: transparent;
    border-radius: 10px;
}

ol.comment-list .trackback .edit-link,
ol.comment-list .pingback .edit-link {
    margin-top: 0;
}

.comment-list .comment img.avatar.photo {
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 17px;
    position: absolute;
    left: 0;
    top: 0px;
}

.comment-list .comment .comment-author.vcard,
.comment-list .comment .comment-author.vcard a {
    color: var(--heading-color);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0px;
}

.comment-list .comment .comment-author.vcard cite.fn {
    font-style: normal !important;
}

.comment-list .comment .comment-meta.commentmetadata {
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
}

.comment-list .comment .reply {
    display: inline-block;
    order: 3;
    position: absolute;
    right: 0px;
    top: 0px;
}

.comment-list .comment .cld-like-wrap.cld-common-wrap a {
    color: var(--heading-color);
    transition: .3s ease-in-out;
}

.comment-list .comment .cld-like-wrap.cld-common-wrap a:hover {
    color: #e5e5e5;
}

.comment.parent .comment-body {
    margin-bottom: 30px;
}

.comment .comment-meta {
    overflow: hidden;
    margin-bottom: 21px;
    order: 2;
}

.comment-content {
    color: var(--text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.comment-list .comment .comment-author.vcard b.fn {
    display: inline-block;
    font-size: 17px;
}

.children .comment .comment-body {
    border: none;
    margin-bottom: 0;
}

.comment-list .children {
    padding-left: 100px;
}

.comments-title {
    /* Style for "03 Respons" */
    color: var(--heading-color);
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.750316px;
    margin-bottom: 42px;
}

.comments-area {
    padding: 0px 0 0px 0px;
}

.techex-comment-loadmore-btn {
    cursor: pointer;
    color: var(--accent-color-2);
    letter-spacing: 0px;
    font-weight: 700;
}

.techex-comment-loadmore-btn i,
.techex-comment-loadmore-btn svg {
    margin-left: 30px;
}

.comment-metadata a {
    /* Style for "Jan 20, 20" */
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.comment-reply-title small {
    margin-left: 20px;
    font-size: 70%;
}

#commentform>p {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
}

#commentform>p.form-submit {
    margin-bottom: 0;
}

form#commentform {
    display: flex;
    flex-direction: column;
}

.comment div#respond {
    margin-bottom: 30px;
    padding: 30px;
    background: #f9f7f7;
    border-radius: 10px;
    margin-top: 30px;
}

.comment-list .comment .comment-author .says {
    display: none;
}

.comment-list .comment .comment-author.vcard b.fn:before {
    content: "-";
    margin-right: 5px;
    display: none;
}

.comment-list .comment .reply a {
    position: relative;
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: var(--heading-color);
    border: 1px solid #b0cff2;
    padding: 8px 20px 8px 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.comment-list .comment .reply a:before {
    position: absolute;
    content: "\f3e5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 50%;
    left: 26%;
    color: var(--heading-color);
    transform: translate(-50%, -50%);
}

.comment-list .comment .reply a:hover {
    background: var(--accent-color);
    color: #fff;
}

.comment-list .comment .reply a:hover:before {
    color: #fff;
}

.comment-metadata .edit-link {
    margin-top: 0;
}

.comment-content p:last-child {
    margin-bottom: 30px;
}

.comment-list .comment .comment-body,
ol.comment-list .trackback,
ol.comment-list .pingback {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: relative;
    border-bottom: 1px solid #377cfd24;
}

.comment-list .comment .comment-body {
    padding-left: 110px;
    padding-top: 0px;
    background: #FFFFFF;
    border-radius: 0px !important;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #e2e2e2;
}

.comment-list .comment .children .comment {
    box-shadow: unset;
    margin-bottom: 0;
}

p.comment-form-cookies-consent {
    display: flex;
    align-items: baseline;
}

input#wp-comment-cookies-consent {
    height: auto;
}

.comment-list .comment .comment img.avatar.photo {
    width: 50px;
    height: 50px;
}

.comment-list .comment .comment .comment-body {
    padding-left: 80px;
    background: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.comment #commentform .logged-in-as {
    margin-bottom: 20px;
}

#commentform .logged-in-as,
#commentform .logged-in-as a {
    color: var(--text-color);
    font-weight: 450;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
}

.comment-list .comment:last-child .comment-body {
    padding-right: 0px;
}

.comment #commentform>p {
    margin-bottom: 15px;
}

.comment #commentform>p.comment-notes {
    margin-bottom: 25px;
}


/* single post item */


/* .single-post-item:hover img {
    transform: scale(1.1);
} */

.single-post-item a.post-thumbnail {
    display: block;
}

.single-post-item a.post-thumbnail img {
    object-fit: cover;
    height: 500px;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
}

.single-post-item .entry-title a {
    color: var(--heading-color);
}

.single-post-item .entry-title {
    font-size: 36px !important;
    line-height: 130% !important;
    color: var(--heading-color);
    font-weight: 700 !important;
    margin-bottom: 20px !IMPORTANT;
}

.single-post-item p {
    margin-bottom: 30px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 17px;
    color: var(--text-color);
}

.single-post-item .post-meta {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.post-read-more a {
    color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0px;
}

.post-read-more a svg path {
    stroke: var(--heading-color);
}

.post-read-more a svg {
    width: 14px;
    transition: .4s;
    margin-left: 8px;
}

.post-read-more a:hover svg {
    transform: translatex(10px);
}

.post-read-more a svg path {
    stroke: var(--accent-color);
}

.single-post-item .post-meta i {
    color: var(--accent-color-2);
    margin-right: 5px;
    font-size: 14px;
}

.single-post-item {
    margin-bottom: 30px;
    background-color: var(--white-color);
    overflow: hidden;
    transition: .4s;
    border-radius: 0px;
    border: 1px solid #EAE9F2;
}

.blog-breadcrumb {
    margin-top: -105px;
    padding: 230px 0px 160px 0px;
    position: relative;
    z-index: 1;
    background: var(--heading-color);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.blog-breadcrumb:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    background: #211e3b;
    opacity: .8;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    z-index: -1;
}

.blog-breadcrumb p.post__caption {
    color: #6E727D;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 39px;
    margin-bottom: 0;
    padding: 0px 155px;
}

.blog-breadcrumb h1.post__title {
    /* Style for "Our Blog" */
    margin-bottom: 30px;
    color: var(--white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.16;
    word-break: break-word;
}

.blog-breadcrumb .breadcrumbs,
.blog-breadcrumb .breadcrumbs a,
.blog-breadcrumb .breadcrumbs span {
    color: #ffff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
}

.blog-breadcrumb .breadcrumbs .sep {
    margin: 0 15px;
}

.blog-breadcrumb h1.post__title:last-child {
    margin-bottom: 0;
}

.sticky-text,
.sticky-category .sticky-text {
    content: "Sticky";
    padding: 3px 12px;
    background-color: var(--accent-color-2);
    color: var(--white-color);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    z-index: 1;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.single-post-item.case-study-item a.post-thumbnail {
    margin-bottom: 0;
}

.post-thumbnail-wrapper {
    position: relative;
}

.single-post-item .post-meta>div {
    margin-right: 5px;
}

.single-post-item .post-meta>div:last-child {
    margin-right: 0;
}

.single-post-item .post-meta span,
.single-post-item .post-meta a,
.single-post-item .post-meta span time {
    color: var(--text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    margin-right: 25px;
}

.single-post-item.two-column a.post-thumbnail img,
.single-post-item.three-column a.post-thumbnail img {
    height: 336px;
}

.single-post-item.two-column .post-meta,
.single-post-item.three-column .post-meta {
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
}

.single-post-item.two-column h2.entry-title,
.single-post-item.three-column h2.entry-title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0px;
}

.single-post-item.two-column p,
.single-post-item.three-column p {
    margin-bottom: 25px;
}

.content-block {
    /* padding-top: 125px; */
    padding-bottom: 100px;
    background: #fff !important;
}

body.search {
    background-color: #f4f7fa;
}

.wp-block-search .wp-block-search__label {
    display: none;
}

.single-post-item .post-content {
    padding: 30px 50px 32px 50px;
}

.single-post-item:hover {
    box-shadow: 0px 34px 33px 0px rgb(43 89 255 / 8%);
}

.single-post .post-meta {
    display: flex;
    margin-bottom: 25px;
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.53;
    flex-wrap: wrap;
}

.single-post .post-meta a {
    color: var(--text-color);
    font-weight: 700;
}

.single-post .post-meta>div {
    margin-right: 30px;
}

.single-post .post-meta i {
    color: var(--accent-color-2);
    margin-right: 5px;
    font-size: 14px;
}

.tags-links a,
.cat-links a {
    color: var(--text-color);
    margin-right: 5px;
}

.tags-links a:hover,
.cat-links a:hover {
    color: var(--accent-color-2);
}

.search.search-no-results .page-content {
    padding: 0 36px;
}

.search.search-no-results p {
    margin-bottom: 10px;
}

.search.search-no-results form.search-form {
    margin-top: 30px;
}

.search .not-found h1.page-title {
    font-size: 61px;
    letter-spacing: -2px;
}


/* post-pagination */

.techex-navigation {
    display: flex;
    justify-content: center;
}

nav.navigation.post-navigation {
    display: none;
}

.techex-navigation a,
.techex-navigation span,
.page-links a,
.page-links span {
    height: 60px;
    width: 60px;
    display: inline-flex;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    margin-right: 5px;
    font-weight: 700;
    background-color: #f6f6f6;
    border-radius: 50%;
    border: 0;
    align-items: center;
    justify-content: center;
    color: var(--heading-color) !important;
}

.techex-navigation a:hover,
.page-links a:hover {
    background-color: var(--accent-color);
    color: #fff !important;
    opacity: 1;
    border-color: var(--accent-color);
}

.techex-navigation span.current,
.page-links .current {
    cursor: not-allowed;
    background-color: var(--accent-color);
    color: #fff !important;
    border-color: var(--accent-color);
    margin-left: 10px;
}

.techex-navigation {
    margin-top: 30px;
}


/* mailchimp form  */

.mc4wp-form input:not([type=submit]):not([type=radio]):not([type=checkbox]) {
    width: 100%;
    height: 64px;
    border: 1px solid #e7e9ed;
    padding: 0 20PX;
}

.mc4wp-form {
    position: relative;
}

.mc4wp-form input[type="submit"] {
    position: absolute;
    right: 6px;
    background-color: var(--accent-color-2);
    letter-spacing: -0.6px;
    color: var(--white-color);
    font-weight: 700;
    border-radius: 0px;
    border: none;
    padding: 0 46px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .3s;
    width: auto;
    height: 50px;
}

.mc4wp-form input[type="submit"]:hover {
    opacity: .9;
}

.subscribe-form.techex-home-8-subscribe {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.subscribe-form.techex-home-8-subscribe button[type=submit] {
    height: 59px;
    padding-top: 0;
    padding: 0 7px;
    font-size: 17px;
    letter-spacing: -0.6px;
    width: 170px;
    margin-left: 20px;
}

.subscribe-form.techex-home-8-subscribe button[type=submit] i {
    margin-left: 40px;
}

.subscribe-form.techex-home-8-subscribe span.wpcf7-form-control-wrap {
    margin-bottom: 0;
    flex: 1;
}

.subscribe-form.techex-home-8-subscribe span.wpcf7-form-control-wrap input:not([type=submit]):not([type=radio]):not([type=checkbox]) {
    height: 59px !important;
}

.mc4wp-form .subscribe-form.techex-home-3-subscribe input:not([type=submit]):not([type=radio]):not([type=checkbox]) {
    font-size: 17px;
    letter-spacing: -0.2px;
    height: 60px !important;
}

.subscribe-form.techex-home-3-subscribe .wpcf7-form-control-wrap {
    margin-bottom: 15px;
}


/* Elmentor tweaks  */

.elementor-testimonial-wrapper .elementor-testimonial-content {
    margin-bottom: 1em;
}

.elementor-widget-testimonial .elementor-testimonial-name {
    margin-bottom: 0.3em;
}

.elementor-custom-embed-play i.eicon-play:before {
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

div.elementor-custom-embed-play i {
    font-size: 14px;
}

@-webkit-keyframes effect {
    to {
        top: -20px;
        right: -20px;
        bottom: -20px;
        left: -20px;
        opacity: 0
    }
}

@keyframes effect {
    to {
        top: -20px;
        right: -20px;
        bottom: -20px;
        left: -20px;
        opacity: 0
    }
}

.elementor-custom-embed-play {
    width: 92px;
    height: 92px;
    line-height: 92px;
    text-align: center;
    background-color: var(--white-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 404 page css  */

.error-404 {
    padding: 120px 0 120px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(38, 39, 41, 0.1);
}

.error-404 h1 {
    color: var(--accent-color-2);
    letter-spacing: -2px;
    font-family: 'Rubik';
    font-size: 110px;
    line-height: 1.272em;
    margin-bottom: 0;
}

.error-404 h4 {
    color: var(--heading-color);
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 1.05;
    margin-bottom: 0;
    margin-top: 60px;
}

.error-404 p {
    color: var(--text-color);
    margin-bottom: 40px;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.66px;
}

.error-404 .techex-btn {
    background: transparent;
    padding: 15px 42px;
    color: var(--accent-color);
    border-radius: 10px;
    transition: .4s;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: -0.6px;
    min-width: 250px;
    min-height: 60px;
    text-transform: capitalize;
    border: 1px solid #C31A12;
}

.error-404 .techex-btn:hover {
    background-color: #F3F4F6;
    border: 1px solid var(--accent-color-2);
    ;
    color: var(--accent-color-2);
    ;
}

.error404 .breadcrumbs {
    display: none;
}

.error404 h1.post__title {
    font-style: normal;
    font-weight: 600;
    font-size: 144px;
    margin-bottom: 0;
}

a.techex-btn.techex-bordered-btn {
    border: 1px solid var(--accent-color-2);
    padding: 20px 40px 20px;
    font-weight: 700;
    border-radius: 0px;
}

h3.apply-form-title {
    color: var(--white-color);
    font-size: 48px;
    letter-spacing: -1.58px;
    text-align: center;
    margin-bottom: 60px;
}

.entry-content ul {
    padding: 0;
}

.entry-content ul>li {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.2px;
    position: relative;
    margin-bottom: 15px;
}

figure.wp-block-gallery ul {
    padding: 0;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ol ul,
.entry-content ul ol {
    margin-top: 15px;
}

.widget .menu li span.dropdownToggle {
    display: none;
}

.widget ul ul {
    padding-left: 20px;
    border-left: 1px solid rgba(234, 233, 242, 0.102751);
}

p.wp-caption-text {
    color: var(--heading-color)!important;
}

.entry-content ol li {
    padding-left: 0;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.2px;
    position: relative;
    margin-bottom: 15px;
}

.entry-content ol {
    margin-left: 0;
    padding-left: 32px;
}

.job-details-page .entry-content ul>li {
    margin-bottom: 15px;
}

input[type=checkbox] {
    margin-right: 10px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    margin-bottom: 15px;
}

.entry-content.entry-content h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;
}


/* team details page  */

.techex-team-wrap {
    display: flex;
}

.team-thumnbnail-wrap {
    flex: 0 0 334px;
    margin-right: 77px;
}

.team-thumnbnail-wrap .post-thumbnail {
    display: block;
}

.team-thumnbnail-wrap .post-thumbnail img {
    width: 100%;
    height: 334px;
    object-fit: cover;
    object-position: top;
    border-radius: 0px;
}

.techex-team-title h1 {
    /* Style for "Joe Bridge" */
    color: var(--heading-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 48px;
}

.techex-team-title .team-position {
    /* Style for "Founder" */
    color: var(--text-color);
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 32px;
}

.techex-team-title {
    margin-bottom: 35px;
}

.team-content p {
    /* Style for "Headquarte" */
    color: var(--text-color);
    font-size: 17px !important;
    font-weight: 300 !important;
    letter-spacing: -0.2px !important;
    line-height: 29px !important;
}

.team-social-links a {
    color: var(--heading-color);
    font-size: 18px;
    margin-right: 25px;
    transition: .4s;
}

.team-social-links a:hover {
    color: var(--accent-color-2);
}

.team-social-links {
    margin-top: 40px;
}

.content-block.team-details-page {
    padding: 130px 0 125px;
    background: #fbfbfb;
}

.team-content {
    padding-right: 75px;
}

.service-details-page .techex-job-title {
    margin-bottom: 60px;
}

.hide-dropdown-menu ul.sub-menu,
.hide-dropdown-menu .dropdownToggle,
.hide-dropdown-menu .main-navigation ul.navbar-nav>li.techex-mega-menu>.sub-menu {
    display: none;
}

.hide-dropdown-menu .main-navigation ul.navbar-nav>li.menu-item-has-children>a {
    padding-right: 20px;
}


/* contact-form*/

.subscribe-form {
    position: relative;
}

.subscribe-form .wpcf7-form-control-wrap:after {
    position: absolute;
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    top: 50%;
    left: 20px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    color: #CDCCD9;
    transform: translateY(-50%);
}


/*-------------------------------------
          Blog-page
--------------------------------------*/

.single-post-item .comment-meta {
    position: relative;
}

.single-post-item .comment-meta a {
    padding-left: 25px;
}

.single-post-item .comment-meta span {
    padding-left: 25px;
}

.single-post-item .comment-meta:before {
    position: absolute;
    content: "\f086";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    left: 0;
    color: var(--text-color);
}

.single-post-item .posted-on {
    position: relative;
}

.single-post-item .posted-on a {
    padding-left: 20px;
}

.single-post-item .posted-on:before {
    position: absolute;
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    left: 0;
    color: var(--text-color);
}

.post-single-item-bottom-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.single-post-item .blog-author-meta {
    display: flex;
    align-items: center;
}

.single-post-item .post-read-more {
    position: relative;
    margin-left: 30px;
}

.single-post-item .post-read-more a {
    color: var(--heading-color) !important;
}

.single-post-item .post-read-more:before {
    position: absolute;
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

.single-post-item .blog-author-name h5 {
    margin-left: 20px;
    margin-bottom: 0;
}

.single-post-item .author-thumbnail img {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #f2f2f2;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.wp-block-categories-list.wp-block-categories li {
    position: relative;
    padding: 15px 30px 15px 30px;
    background: #f8f8f8;
    margin-bottom: 10px;
}

.wp-block-categories-list.wp-block-categories li span {
    color: var(--heading-color);
    position: absolute;
    width: 60px;
    line-height: 53px;
    height: 100%;
    content: "";
    background-color: #e3e3e3;
    right: 0;
    top: 0;
    text-align: center;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
}

p.wp-block-tag-cloud {
    margin-bottom: 0;
}

.wp-block-tag-cloud a {
    display: inline-block;
    padding: 11px 26px;
    line-height: 1;
    font-size: 14px !important;
    font-weight: 700;
    background: #f8f8f8;
    margin-right: 5px;
    margin-bottom: 8px;
    color: var(--heading-color) !important;
}

.widget-area p.post-text a {
    color: var(--heading-color);
}

.row.blog-content-row {
    justify-content: center;
}

.blog-details-cat-list ul {
    padding: 0;
    margin: 0px -10px;
}

.blog-details-cat-list ul li {
    display: inline-block;
    margin: 0px 10px;
}

.blog-details-cat-list ul li a {
    color: var(--white-bg);
    display: inline-block;
    background-color: var(--accent-color);
    padding: 9px 18px;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
}

.post-details-page #primary {
    border: 2px solid #ededed;
    padding: 50px;
}

.post-details-heading h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.comment-meta a {
    color: var(--text-color) !important;
}

.posted-on a {
    color: var(--text-color) !important;
}

blockquote.wp-block-quote {
    background-color: #211e3b;
    color: #fff;
    font-size: 26px;
    line-height: 1.4;
    font-family: "Circular Std", sans-serif;
    font-weight: 400;
    padding: 60px !important;
    text-align: left;
    margin: 40px 0px;
    position: relative;
    z-index: 1;
}

.wp-block-quote.is-style-large cite {
    font-size: 1.125em;
    text-align: left;
    color: var(--white-bg);
}

.wp-block-pullquote cite {
    color: var(--white-bg);
}

.entry-content ul li {
    list-style: disc;
}

.entry-content ul {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 20px;
}

span.tags-links a {
    color: var(--heading-color);
}

.blog-details-meta-list .comment-meta {
    position: relative;
    padding-left: 25px;
}

.blog-details-meta-list .comment-meta {
    padding-left: 25px;
    font-weight: 700;
}

.blog-details-meta-list .comment-meta:before {
    position: absolute;
    content: "\f086";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    left: 0;
    color: var(--text-color);
}

.blog-details-meta-list .posted-on {
    position: relative;
}

.blog-details-meta-list .posted-on a {
    padding-left: 20px;
}

.blog-details-meta-list .posted-on:before {
    position: absolute;
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    left: 0;
    color: var(--text-color);
}

.comment-metadata a {
    color: var(--accent-color) !important;
}

.elementor-11508 .elementor-element.elementor-element-b71c12a {
    background-image: none !important;
}